@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}

body{
    min-height: 100vh;
    background: linear-gradient(#b7f158, #ffdb3c, #f8c836 , #a2e734); 
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;

}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
    margin-left: 20px;
}

header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
header ul li a:hover, header ul li a.active{
    background: #fff;
    color: #2b1055;
    transition: 0.2s ease-in-out;
}


 .content{
     position: relative;
 }
 .content h2{
     position: absolute;
     /* transform: translate(-50%,-50%); */
     font-size: 80px;
     margin-left: 600px;
     margin-top: 1000px;
 }
 .content2 h2{
     position: absolute;
     /* transform: translate(-50%,-50%); */
     font-size: 80px;
     margin-left: 660px;
     margin-top: 1070px;
 }
 
 .content h2:nth-child(1){
     color: transparent;
     -webkit-text-stroke: 2px #000000;
 }
 

 .content h2:nth-child(2){
     color: #ffffff;
     animation: animate 4s ease-in-out infinite;
 }
 
 
 .content2 h2:nth-child(1){
     color: transparent;
     -webkit-text-stroke: 2px #000000;
 }
 
 .content2 h2:nth-child(2){
     color: #ffffff;
     animation: animate 4s ease-in-out infinite;
 }
 @keyframes animate{
     0%, 100%
     {
        clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);




     }
     50%
     {
        clip-path: polygon(50% 61%, 59% 58%, 40% 55%, 48% 54%, 46% 65%, 43% 60%, 34% 55%, 27% 56%);





     }
 }
 
 /* ------------------------------------------------ */
 .main-body{
     border: 10px solid white;
     background-color: white;
     opacity: 0.5;
     width: 500px;
     height: 500px;
     margin-top: -10px;
     margin-left: -10px;
     transform: rotate(20deg);
     border-radius: 50%;   
 }
 .main-body1{
    border: 10px solid white;
    width: 300px;
    height: 300px;
    margin-top: 220px;
    margin-left: 100px;
    overflow: hidden;
    cursor: pointer; 
}
.main-body h1{
    transform: rotate(-20deg);
    margin-top: 80px;
    margin-left: 12px;
}
.main-body h3{
    transform: rotate(-20deg);
    margin-left: 25px;
    font-size: 12px;
    font-weight: 800px;
    color: blue;
}


@media (max-width: 800px){
    body{
        display: flex;
        flex-wrap: wrap;
    }
    header{
        display: flex;
        flex-wrap: wrap;
    }
    header ul{
        display: flex;
        flex-wrap: wrap;
    }

    .main-body1 {
        display: flex;
        flex-wrap: wrap;
        width: 33%;
        margin-left: 50px;
        margin-top: 50%;
        cursor: pointer;
    }
    .main-body{
        width: 800px;
        height: 300px;
        border: 1px solid transparent;
        border-radius: 50%;
    }
    
}
/* ----------------------------------------- */
/* ----------------------------------------- */

.right-text h1 {
    float: right;
    margin-top: -320px;
    margin-right: 40%;
}
.right-text p {
    float: right;
    width: 40%;
    margin-top: -260px;
    margin-right: 14%;
    text-align: justify;
    font-size: large;
}
/* ------------------------------------------ */
/* ------------------------------------------ */

.about-us h1{
    color: white;
    font-size: 50px;
    margin-top: 120px;
    margin-left: 260px;
}


.about-us p{
    color: rgb(6, 26, 8);
    text-align: justify;
    width: 40%;
    margin-left: 260px;
    margin-top: 30px;
    font-weight: bold;
}

.circle-box{
    border: 1px solid transparent;
    margin-top: -250px;
    margin-right: 180px;
    background-color: rgb(255, 255, 255,0.2);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    float: right;
}
.circle-box:hover{
    width: 350px;
    height: 350px;
    transition: 1s;
}
.circle-box img{
    width: 90%;
    height: 90%;
    margin-left: 15px;
    margin-top: 15px;
    border: 1px solid transparent;
    border-radius: 50%;
}
/* ----------------------------------------------------- */


/* ----------------------------------------------------- */
/* ------------------------- */
/* Section for the engagement post */
#big-card{
    width: 94%;
    height: 60%;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    margin-top: 100px;
    margin-left: 50px;
}
#group-cards{
    margin-top: 50px;
    margin-left: 100px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: rgb(109, 91, 91);
}

/* Card Sections */
/* Card 1 */
.card_1{
    width: 300px;
    height: 200px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: rgba(255, 81, 0, 0.1);
    margin-left: 200px;
    margin-top: 20px;
    cursor: pointer;
}
.card_1:hover{
    width: 320px;
    height: 230px;
    transition: 2s;
}

.card_1 h1{
    text-align: center;
    margin-top: 70px;
    font-size: 35px;
    color: rgb(241, 69, 7);  
    font-weight: bolder;
}

/* Card 2 */
.card_2{
    width: 300px;
    height: 200px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: rgba(44, 44, 153, 0.253);
    margin-right: 555px;
    margin-top: -202px;
    float: right;
    cursor: pointer;
}
.card_2:hover{
    width: 330px;
    height: 200px;
    transition: 1s;
}
.card_2 h1{
    text-align: center;
    margin-top: 70px;
    font-size: 35px;
    color: rgb(17, 0, 255);  
}


/* Card 3 */
.card_3{
    width: 300px;
    height: 200px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: rgba(7, 82, 11, 0.1);
    margin-right: 190px;
    margin-top: -202px;
    float: right;
    cursor: pointer;
}
.card_3:hover{
    width: 320px;
    height: 250px;
    transition: 1s;
}
.card_3 h1{
    text-align: center;
    margin-top: 70px;
    font-size: 35px;
    color: rgb(16, 68, 23);  
}
/* ------------------------------ */
/* ------------------------------ */
/* ---------------------------------------------------------------------------------------------------
 */

/* Counter Corner/ Section */
.counter-up{
    margin-left: 250px;
    width: 1020px;
    height: 280px;
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: rgb(238, 234, 234,0.4);
}
/* BOX 1 element */
.box1{
    width: 180px;
    height: 180px;
    margin-left: 70px;
    margin-top: 50px;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: rgba(255, 103, 1, 0.4);
}
.icon1{
    margin-left: 40%;
    font-size: 40px;
    color: rgb(189, 8, 8);
}

.counter{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.text{
    text-align: center;
    font-size: 20px;
}
/* -------------------------- */

/* -------------------------- */
/* BOX 2 Element */

.box2{
    width: 180px;
    height: 180px;
    margin-right: 530px;
    margin-top: -180px;
    border: 1px solid rgb(24, 22, 22,0.2);
    border-radius: 8px;
    background-color: rgba(241, 255, 238, 0.4);
    float: right;
}
.icon2{
    margin-left: 40%;
    font-size: 40px;
    color: rgb(6, 63, 30);
}
/* ----------------------------------------------- */

/* BOX 3 Element */
.box3{
    width: 180px;
    height: 180px;
    margin-right: 290px;
    margin-top: -180px;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: rgba(13, 13, 255, 0.4);
    float: right;
}

.icon3{
    margin-left: 63px;
    font-size: 40px;
    color: white;
}
/* ------------------------------------------------ */

/* BOX 4 Element */
.box4{
    width: 190px;
    height: 180px;
    margin-right: 50px;
    margin-top: -180px;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: rgba(49, 116, 18, 0.4);
    float: right;
}
.icon4{
    margin-left: 40%;
    font-size: 40px;
    color: rgb(41, 18, 78);
}
/* ====================== */
/* BOX Hover Section */
.box1:hover{
    background-color: rgba(231, 46, 0, 0.8);
    border-color: #2b1055;
    width: 192px;
    height: 182px;
    transition: 1.5s ease-in-out;
}
.box2:hover{
    background-color: rgba(8, 77, 42, 0.8);
    border-color: #2b1055;
    width: 185px;
    height: 175px;
    transition: 1.5s ease-in-out ;
}
.box3:hover{
    background-color: rgba(251, 255, 0, 0.966);
    border-color: #2b1055;
    width: 185px;
    height: 175px;
    transition: 1.5s ease-in-out ;
}
.box4:hover{
    background-color: rgba(255, 255, 255, 0.8);
    border-color: #2b1055;
    width: 192px;
    height: 182px;
    transition: 1.5s ease-in-out ;
}

.icon1:hover{
    margin-left: 40%;
    font-size: 40px;
    color: rgb(28, 23, 36);
    transition: 1.5s ;
}
.icon2:hover{
    margin-left: 40%;
    font-size: 40px;
    color: rgb(255, 255, 255);
    transition: 1.5s ;
}
.icon3:hover{
    margin-left: 40%;
    font-size: 40px;
    color: rgb(255, 15, 15);
    transition: 1.5s ;
}
.icon4:hover{
    margin-left: 40%;
    font-size: 40px;
    color: rgb(34, 209, 78);
    transition: 1.5s ;
}

/* ====================== */
/* Our Products */
/* Product Heading */
#product-h1{
    margin-left: 370px;
    margin-top: 50px;
    font-size: 45px;
}
/* Product 1 */
.products{
    width: 67%;
    height: 1750px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: rgb(233, 219, 219,0.4);
    margin-left: 250px;
    margin-top: 100px;
}
.product1{
    width: 300px;
    height: 300px;
    border: 1px solid transparent;
    background-color: rgba(255, 255, 255,0.2);
    border-radius: 50%;
    margin-top: 100px;
    margin-left: 80px;
    overflow: hidden;
    position: relative;
}
.product1-cover-card{
    width: 300px;
    height: 300px;
    border: 1px solid white;
    background-color: rgb(255, 249, 249,0.4);
    border-radius: 50%;
    top: 0;
    left: 100%;
    /* overflow: hidden; */
    transition: 0.5s;
    position: absolute;
    background-color: rgb(163, 255, 87);
    z-index: 1;
}
.product1:hover .product1-cover-card{
    left: 0;
}

.product1 img{
    border: 1px solid transparent;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 3px;
}
.product_paragraph1{
    width: 500px;
    margin-top: -285px;
    margin-left:450px ;
    text-align: justify;
}
/* ============================================ */
/* Product 2 */
.product2{
    width: 300px;
    height: 300px;
    border: 1px solid transparent;
    background-color: rgb(255, 249, 249,0.2);
    border-radius: 50%;
    margin-top: 100px;
    margin-left: 80px;
    overflow: hidden; 
    position: relative; 
}
.product2-cover-card{
    width: 300px;
    height: 300px;
    border: 1px solid white;
    background-color: rgb(255, 249, 249,0.4);
    border-radius: 50%;
    top: 0;
    left:100%;
    /* overflow: hidden; */
    transition: 2s;
    position: absolute;
    background-color: rgb(163, 255, 87);
    z-index: 1;
}
.product2:hover .product2-cover-card{
    left: -300px;
}
.product2 img{
    border: 1px solid transparent;
    margin-top: -45px;
    margin-left: -55px;
}
.product2-cover-card img{
    border: 1px solid transparent;
    border-radius: 50%;
    margin-top:2px;
    margin-left: 2px;
}
.product_paragraph2{
    width: 500px;
    margin-top: -240px;
    margin-left:450px ;
    text-align: justify;
}
/* ============================================ */
/* Product 3 */
.product3{
    width: 300px;
    height: 300px;
    border: 1px solid transparent;
    background-color: rgb(255, 249, 249,0.2);
    border-radius: 50%;
    margin-top: 150px;
    margin-left: 80px;
    overflow: hidden;
    position: relative;
}
.product3-cover-card{
    width: 300px;
    height: 300px;
    border: 1px solid white;
    background-color: rgb(255, 249, 249,0.4);
    border-radius: 50%;
    top: -120%;
    left: 0;
    /* overflow: hidden; */
    transition: 2s;
    position: absolute;
    background-color: rgb(163, 255, 87);
    z-index: 1;
}
.product3:hover .product3-cover-card{
    top: 300px;
}
.product3 img{
    width: 90%;
    height:90%;
    border: 1px solid transparent;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 12px;
}
.product_paragraph3{
    width: 500px;
    margin-top: -260px;
    margin-left:450px ;
    text-align: justify;
}
/* ============================================ */
/* Product 4 */
.product4{
    width: 300px;
    height: 300px;
    border: 1px solid transparent;
    background-color: rgb(255, 249, 249,0.2);
    border-radius: 50%;
    margin-top: 130px;
    margin-left: 80px;
    overflow: hidden;  
    position: relative;
}
.product4-cover-card{
    width: 300px;
    height: 300px;
    border: 1px solid white;
    background-color: rgb(255, 249, 249,0.4);
    border-radius: 50%;
    top: 0;
    left: 100%;
    /* overflow: hidden; */
    transition: 0.5s;
    position: absolute;
    background-color: rgb(163, 255, 87);
    z-index: 1;
}
.product4:hover .product4-cover-card{
    left: 0;
}
.product4 img{
    border: 1px solid transparent;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 10px;
}
.product4-cover-card img{
    border: 1px solid transparent;
    border-radius: 50%;
    margin-top:50px;
    margin-left: -22px;
}
.product_paragraph4{
    width: 500px;
    margin-top: -260px;
    margin-left:450px ;
    text-align: justify;
}

/* ------------------------- */
/* ------------------------- */



/* --------------------- */
section{
    margin-top: 200px;
}


/* CONTACT US PAGE */
/* SIGN-UP FORM */

.sign-up_form{
    width: 60%;
    height: 540px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: rgb(245, 244, 244,0.2);
    margin-left: 300px;
}
.sign-up_form h1{
    margin-top: 20px;
    margin-left: 250px;
    margin-bottom: 20px;
    font-size: 35px;
    color: rgb(73, 12, 129);
    cursor: pointer;
}
#sign-up{
    margin-top: 200px;
}
.label_design{
    margin-left: -50px;
}

input[type=text], select {
    width: 50%;
    padding: 12px 20px;
    margin-left: 73px;
    margin-top: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-sizing: border-box;
}
  
  input[type=email], select {
    width: 50%;
    padding: 12px 20px;
    margin-left: 95px;
    margin-top: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-sizing: border-box;
}

  input[type=number], select {
    width:50%;
    padding: 12px 20px;
    margin-left: 40px;
    margin-top: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-sizing: border-box;
}

  #password {
    width: 50%;
    padding: 12px 20px;
    margin-left: 82px;
    margin-top: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-sizing: border-box;
 }

  #cpassword {
    width: 50%;
    padding: 12px 20px;
    margin-left: 15px;
    margin-top: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-sizing: border-box;
}

    input[type=submit], select {
    width: 150px;
    padding: 12px 20px;
    margin-left: 150px;
    margin-top: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    color: #000000;
    background-color: #c6e298;
    font-size: 15px;
    font-weight: bolder;
}
input[type=submit]:hover {
    width: 150px;
    padding: 12px 20px;
    margin-left: 150px;
    margin-top: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    color: #ff0000;
    background-color: #ffffff;
    font-size: 15px;
    font-weight: bolder;
    transition: 2s;
}

#sign_up{
   margin-left: 250px;
}


/* ---------------------------------------------------- */
/* ==================================================== */
/* About Us  */

#about-container1{
    width: 70%;
    height: 500px;
    background-color: rgba(25, 153, 68, 0.308);
    margin-left: 15%;
    border-radius: 10px;
    overflow: hidden;
}
.about-sub_container1{
    width: 50%;
    height: 390px;
    background-color: rgba(254, 255, 166, 0.2);
    margin-left: 270px;
    transform: rotate(0 deg);
    margin-top: 50px;
    border: 1px solid transparent;
    border-radius: 12px;
}


.slider{
    width: 530px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .slides{
    width: 500%;
    height: 500px;
    display: flex;
    margin-left: 120px;
  }
  
  .slides input{
    display: none;
  }
  
  .slide{
    width: 20%;
    height: 700px;
    transition: 2s;
    margin-top: -220px;
  }
  

  .slide img{
    width: 300px;
    height: 220px;
    margin-top: 280px;
  }
  
  /*css for manual slide navigation*/
  
  .navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
    margin-left: -60px;
    margin-top: -150px;
  }
  
  .manual-btn{
    border: 2px solid #ffffff;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    /* margin-top: -50px; */
    margin-left: -150px;
    /* opacity: 0; */
  }
  
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  
  .manual-btn:hover{
    background: #6200ff;
  }
  
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  
  #radio2:checked ~ .first{
    margin-left: -20%;
  }
  
  #radio3:checked ~ .first{
    margin-left: -40%;
  }
  
  #radio4:checked ~ .first{
    margin-left: -60%;
  }
  
  /*css for automatic navigation*/
  
  .navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
    
  }
  
  .navigation-auto div{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
    margin-top: 0px;
    margin-left: 50px;
    opacity: 0;
  }
  
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  
  #radio1:checked ~ .navigation-auto .auto-btn1{
    background: #40D3DC;
  }
  
  #radio2:checked ~ .navigation-auto .auto-btn2{
    background: #40D3DC;
  }
  
  #radio3:checked ~ .navigation-auto .auto-btn3{
    background: #40D3DC;
  }
  
  #radio4:checked ~ .navigation-auto .auto-btn4{
    background: #40D3DC;
  }


/* About Description */
.about-description{
    margin-top: -120px;
}
.about-description h1{
    font-size: 45px;
    color: #2b1055;
    margin-left: 550px;
}
.about-book{
    width: 56%;
    height: 450px;
    border: 1px solid transparent;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.493);
    margin-left: 330px;
    margin-top: 50px;
}
.about-book p{
    width: 50%;
    text-align: justify;
    margin-left: 20px;
    margin-top: 50px;
    border-right: 2px solid red;
    padding-right: 30px;
}
.about-book img{
    float: right;
    width: 45%;
    margin-top: -370px;
}

.about-book2{
    width: 56%;
    height: 450px;
    border: 1px solid transparent;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.493);
    margin-right: -530px;
    margin-top: -450px;
    float:right;
}
.about-book2 p{
    width: 50%;
    text-align: justify;
    margin-left: 20px;
    margin-top: 50px;
    border-right: 2px solid red;
    padding-right: 30px;
}
.about-book2 img{
    float: right;
    width: 45%;
    margin-top: -370px;
}

.prev-btn{
   margin-left: 8px;
   margin-top: -100px;
}
.next-btn{
    float: right;
    margin-top: -85px;
    margin-right: 10px;
    transform: rotate(180deg);
}
.img-container{
    margin-top: 90px;
}


/* -------------------------------- */
/* ================================ */
/* Services Page */

/* .notification-msg{
    margin-top: 350px;
    margin-left: 100px;
}
.notification-msg h1{
    font-size: 50px;
    text-align: center;
    color: #5e084b;
} */


#myVideo {
    margin-top: 200px;
    margin-left: 100px;
    min-width: 80%; 
    min-height: 80%;
    border: 1px solid transparent;
    border-radius: 10px;
  }
  
  .content {
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 50%;
    padding: 20px;
    margin-left: 380px;
    border: 1px solid transparent;
    border-radius: 10px;
    margin-top: -500px;
  }
  
  .content h1{
      text-align: center;
      font-size: 50px;
      color: #7beb1f;
  }
  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: rgb(90, 12, 108);
    color: rgb(235, 255, 14);
    cursor: pointer;
    margin-top: 20px;
    margin-left: 250px;
    border: 1px solid transparent;
    border-radius: 35px;
  }
  
  #myBtn:hover {
    background: rgb(0, 255, 128);
    color: black;
    transition: 3s;
  }